FORMAT: 1A
HOST: http://demo.splynx.com/api/2.0/

# Splynx API v2.0
The Splynx API v2.0.
We follow the RESTful principles, so the API is stateless and http methods and response codes are used whenever possible.

The url for the requests is: `http://WEB_PATH_TO_YOUR_SPLYNX/api/2.0/`

## Examples
Examples can be found [here](https://bitbucket.org/splynx/splynx-php-api/src/master/examples/)

## Create an API Key
Check [documentation](https://docs.splynx.com/administration/main/api_keys) about creating an API key. **Note**: don't forget to set permissions for created key!

## Authentication
We supports three different type of authentication.

1. **Basic authentication** - [Simple unsecure authentication type](#introduction/authentication/basic-authentication)
2. **By signature** - [Authentication by signature (Like in API v1)](#introduction/authentication/by-signature)
3. **Access token** - [By access token](#introduction/authentication/by-access-token)

### Basic authentication
A request should be contains a header field in the form of `Authorization: Basic <credentials>`, where `credentials` is the base64 encoding of api key and api secret joined by a single colon `:`. See more information in wikipedia: https://en.wikipedia.org/wiki/Basic_access_authentication.

##### Attention
For use this type of authentication you should be also enable **Unsecure access** in your API key settings!

### By signature
A request should be contains a header field in the form of `Authorization: Splynx-EA (key=<key>&nonce=<nonce>&signature=<signature>)`, where:

* `key` - your API key
* `nonce` - Unique id of the request (Basically is a timestamp)
* `signature` - Generated signature by API key and secret.

##### How to generate signature in PHP:

```#!php
<?php
$api_key = 'API_KEY';
$api_secret = 'API_SECRET';

$nonce = round(microtime(true) * 100);

$signature = strtoupper(hash_hmac('sha256', $nonce . $api_key, $api_secret));

$auth_data = array(
    'key' => $api_key,
    'signature' => $signature,
    'nonce' => $nonce++
);

$auth_string = http_build_query($auth_data);

$header = 'Authorization: Splynx-EA (' . $auth_string . ')';

```

### By Access token
Authorized requests should be passing an access token inside the `Authorization` header.
Access tokens are used for authenticate requests and storing additional info about an user.
Each token has expiration time of 30 minutes.
To generate access token you need to send a request to `/api/2.0/admin/auth/tokens`.

#### Workflow
1. Generating access token.
2. Checking if token expired and if expired then renew token.
3. Sending authorized requests.

#### Generating access token
For generate access token send a request to `/api/2.0/admin/auth/tokens` with authentication data in request body.
Request body should be contain `auth_type` field and other required fields according to `auth_type`.
For example you can authenticate like a administrator or customer.

##### List of authentication types
- `admin` Authenticate like a administrator. Required fields: `login`, `password`. If 2fa is enabled then need also send `code` or `fingerprint`. You can send `fingerprint` instead of `code` if your device has been marked as "trusted" (See [Trusted devices](#reference/auth/trusted-devices-collection/create-a-trusted-device)).
- `customer` Authenticate like a customer. Required fields: `login`, `password`.
- `api_key` Authenticate by API key. Required fields: `key`, `signature`, `nonce`.
    `nonce` it's a current timestamp in seconds.
    Example of generating signature on PHP:
    ```
    $nonce = time();
    $hash = hash_hmac('sha256', $nonce . 'YOUR_API_KEY', 'YOU_API_SECRET');
    $signature = strtoupper($hash);
    ```
- `session` Authenticate by user session id. User it's an administrator or customer. Required field: `session`.

##### Generating access token example
This example shows request for getting access token by administrator info.
Detailed description of this request can be found here: [Generate acess token](#reference/auth/tokens/generate-access-token).

```
POST /api/2.0/admin/auth/tokens
{
    "auth_type": "admin",
    "login": "splynx",
    "password": "q1w2e3"
}


RESPONSE:
{
    "access_token": "2dbf3280cf9sb3b8a7c15201c76b9s1",
    "access_token_expiration": 1542493076,
    "refresh_token": "caebf3980cf9fb3b8c7c15501c77b980",
    "refresh_token_expiration": 1578673076,
    "permissions": []
}
```

#### Checking token expiration
In the response of generating token request you can found the field `access_token_expiration`.
It's a timestamp when token will be expired. Before each request need check token expiration time and if token has expired then need renew this token.
Example of how you can check token expiration:
```
if (time() + 5 > $access_token_expiration) {
    renewToken(); // Renewing a token
}

// All fine, send our authorized requests
sendYourRequests();
```

#### Renewing a token
Renewing a token extend the duration of the token. Example:
```
GET `/api/2.0/admin/auth/tokens/YOUR_REFRESH_TOKEN`

RESPONSE:
{
    "access_token": "2dbf3280cf9sb3b8a7c15201c76b9s1",
    "access_token_expiration": 1542493076,
    "refresh_token": "caebf3980cf9fb3b8c7c15501c77b980",
    "refresh_token_expiration": 1578673076
}
```

Response contains information about new token. You need to store this information for future using.


#### Sending authorized requests
After generating access token you can send authorized requests to API.
For this any request should be passing an access token inside the `Authorization` header.

##### Example of Authorization header:
```
Authorization: Splynx-EA (access_token=YOUR_ACCESS_TOKEN)
```

## Media Types
This API use JSON format to represent resources.

## Response codes
The common [HTTP Response Status Codes](https://github.com/for-GET/know-your-http-well/blob/master/status-codes.md) are used.

### Successful codes
- 200 (OK, GET and HEAD methods) - Use for get list objects (or retrieve one object).
- 201 (Created, POST method) - Use for create object
- 202 (Accepted, PUT method) - Use for update object
- 204 (No content, DELETE method) - Use for delete object

### Error handling
There will be errors when working with the API, and they must be correctly handled on the client.
Structure of an error response:
```
{
    "error": {
        "message": "Method is disabled!",
        "code": 405,
        "internal_code": "METHOD_DISABLED",
    }
}
```
An error is characterized by several parameters:

#### Message `message`
A string that provide description about an error.

#### HTTP error code `code`
Numerical value similar to HTTP status:
- 400 (Bad request) - Your request can't process by server.
- 401 (Unauthorized) - When you did not specify a valid authorization access token.
- 403 (Forbidden) - When you dont have permission to do action.
- 404 (Not Found) - Requested entity not found.
- 405 (Method Not Allowed) - Calling method is not allowed or you cant do action with object because object belongs to another partner (for example).
- 500 (Internal Server Error) - When a request throws an unexpected error.

#### Internal error code `internal_code`
A string literal in the form of ```/[A-Z_0-9]+/```, which summarizes the problem. For example, `MISSED_AUTHORIZATION_HEADER`.

Full list of error codes:
* `BAD_REQUEST` - Your request can't process by server.
* `UNAUTHORIZED` - You did not specify a valid authorization access token.
* `FORBIDDEN` - You dont have permission to do action.
* `NOT_FOUND` - Requested entity not found.
* `METHOD_NOT_ALLOWED` - Calling method is not allowed.
* `SERVER_ERROR` - A request throws an unexpected error.
* `INVALID_INPUT_DATA` - Input data is invalid. For example required parameter is missing etc.
* `NOT_ALLOWED_BY_PARTNER_RESTRICTION` - Work with an entity not allowed by partners restrictions.
* `NOT_ALLOWED_BY_USER_RESTRICTION` - Work with an entity not allowed by users restrictions. For example when an user try to get sensitive information about another user.
* `METHOD_DISABLED` - A method is disabled for this API entry point.
* `INVALID_TWO_FACTOR_CODE` - Two factor `code` or `fingerprint` is invalid.
* `MISSED_TWO_FACTOR_CODE` - Required two factor `code` or `fingerprint` is missed.
* `EMPTY_ACCESS_TOKEN` - Access token is missed.
* `EXPIRED_ACCESS_TOKEN` - Access token expired.
* `EXPIRED_REFRESH_TOKEN` - Refresh token expired.
* `TOKEN_BANNED` - Token has been banned by server.
* `MISSED_AUTHORIZATION_HEADER` - Required authorization header is missed ([see authentication section](#introduction/authentication)).
* `INVALID_SASH` - Invalid Splynx admin session hash.
* `INVALID_AUTH_TYPE` - Invalid authentication type.
* `INVALID_USER` - Generate token by session_id failed becouse of session user is not supported in API.
* `USER_AGENT_CHANGED` - Trying make request with changed user agent. Generating token and making requests should be use the same user agent.
* `IP_CHANGED` - Trying make request from unknown IP. Generating token and making requests should be do from the same IP address.
* `RESET_PASSWORD_DISABLED` - Resetting customer passwords is disabled in config.
* `RESET_PASSWORD_CODE_INVALID` - Verification code of resetting password is invalid.
* `RESET_PASSWORD_FAIL` - Resetting customer password failed.
* `EXCEEDED_MAX_ATTEMPTS` - Exceeded max attempts of resetting customer password.
* `ENTITY_CANNOT_BE_DELETED` - Selected entity cannot be deleted .

## Search, order, limit, and offset
You use this options to improve work with API (all of it or any)

Example:
```#!php
<?php

$params = [
    'main_attributes' => [
        'login' => ['LIKE', 'durden'],
        'partner_id' => ['BETWEEN', 1, 10],
        'date_add' => date('Y-m-d'),
        'added_by' => 'api',
        'location_id' => ['IS', '__EXPRESSION_NULL__'],
    ],
    'additional_attributes' => [
        'sex' => ['IN', ['male', 'female']],
    ],
    'order' => [
        'id' => 'DESC',
    ],
    'limit' => 10,
    'offset' => 20,
];

$apiUrl = 'admin/customers/customer' . '?' . http_build_query($params);

```

Attention, for IP addresses please use next search example:

```#!php
<?php

$params = [
    'main_attributes' => [
        'ipv4' => inet_pton('172.16.2.254'),
    ],
    'limit' => 100,
];

$apiUrl = 'admin/customers/customer-statistics' . '?' . http_build_query($params);
$apiUrlOnline = 'admin/customers/customers-online' . '?' . http_build_query($params);

```

All operators list:
- '='
- '!='
- '>='
- '<='
- '>'
- '<'
- '<>'
- 'IS'
- 'REGEXP'
- 'BETWEEN'
- 'LIKE'
- 'IN'
- 'FIND_IN_SET'

Constants:
- ``__EXPRESSION_NULL__``   â€” Is a predefined constant used only in search requests.
  On the server side, it is converted into a condition that searches for rows where the specified column value is `NULL`.

## Additional fields

For most models there are additional fields in the "additional_attributes" array from response. Example:

```#!php
{
    'id' => '1',
    'partner_id' => '1',
    'location_id' => '1',
    'added_by' => 'admin',
    'added_by_id' => '0',
    'login' => 'redis',
    'category' => 'person',
    'name' => 'Jacques Rice',
    'email' => 'jfarrell@gmail.com',
    'billing_email' => '',
    'phone' => '+9410978741579',
    'street_1' => '5500 Aniyah DaleLake Hectorborough, IL 66290-3855',
    'zip_code' => '63572',
    'city' => 'Farrellmouth',
    'additional_attributes' =>
    {
        'account_holderid' => '',
        'aesi_branch' => '',
        'aesi_country' => '',
        'alternative_contactno' => '',
        'alternative_contactperson' => '',
        'booooll' => '0',
    }
}
```

The additional fields can be updated. To do this you should pass parameters with the "additional_attributes" array, in which you should specify the field name to update. Example:

```#!php
<?php

$params = [
    'additional_attributes' => [
        'aesi_branch' => 'test text',
    ],
];

$apiUrl = 'admin/customers/customer/1' . '?' . http_build_query($params);

```

You can also use filter options when search by additional fields: search....

```#!php
<?php

$params = [
    'additional_attributes' => [
        'sex' => ['IN', ['male', 'female']],
    ],
    'order' => [
        'id' => 'DESC',
    ],
    'limit' => 10,
    'offset' => 20,
];

$apiUrl = 'admin/customers/customer' . '?' . http_build_query($params)
```
## How to upload files

###Main Rules
1. The maximum file size that can be sent to the server is 20Mb.
2. To send a file, a POST request must be sent with the header **Content-Type: multipart/form-data** specified, the file name and type in MIMI format passed, and the file contents transmitted in encoded format.<br> Multiple files can be sent in a single request.
3. The following types of files can be sent to the server:
    + images (.jpg, .png, .gif)
    + pdf files, archives (.zip, .rar, .tar)
    + Word and Openoffice documents
    + text files
    + audio files (.mp3, .wav, .midi)
    + video files (.mp4, .avi, .3gpp, .mkv)

        [All allowed types](#introduction/how-to-upload-files/allowed-files-types)

### Examples
Here is an examples of how to send files to ticket message by ticket message ID

[How to upload files using PHP](https://bitbucket.org/splynx/splynx-php-api/src/master/examples/v2_upload_file_by_php.php)

[How to upload files using Python](https://bitbucket.org/splynx/splynx-php-api/src/master/examples/v2_upload_file_by_python.py)

[How to upload files using Go](https://bitbucket.org/splynx/splynx-php-api/src/master/examples/v2_upload_file_by_go.go)

### Allowed files types
| **PDF files** |
| ------- |
|application/pdf|

| **Text** |
| ------- |
|text/plain|
|text/csv|
|text/x-csv|
|inode/x-empty|
|text/html|
|text/css|

| **Images** |
| ------- |
|image/png|
|image/gif|
|image/jpeg|
|image/heic|

| **Archives** |
| ------- |
|application/x-compress|
|application/zip|
|application/x-zip-compressed|
|application/x-rar|
|application/x-rar-compressed|
|application/vnd.rar|
|application/x-tar|
|application/x-7z-compressed|
|application/x-lzma|

| **Word documents** |
| ------- |
|application/msword|
|application/vnd.ms-excel|
|application/vnd.openxmlformats-officedocument.spreadsheetml.sheet|
|application/vnd.openxmlformats-officedocument.wordprocessingml.document|
|application/vnd.openxmlformats-officedocument.wordprocessingml.template|
|application/vnd.ms-word.document.macroEnabled.12|
|application/vnd.ms-word.template.macroEnabled.12|
|application/vnd.openxmlformats-officedocument.spreadsheetml.template|
|application/vnd.ms-excel.sheet.macroEnabled.12|
|application/vnd.ms-excel.template.macroEnabled.12|
|application/vnd.ms-excel.addin.macroEnabled.12|
|application/vnd.ms-excel.sheet.binary.macroEnabled.12|
|application/vnd.ms-powerpoint|
|application/vnd.openxmlformats-officedocument.presentationml.presentation|
|application/vnd.openxmlformats-officedocument.presentationml.template|
|application/vnd.openxmlformats-officedocument.presentationml.slideshow|
|application/vnd.ms-powerpoint.addin.macroEnabled.12|
|application/vnd.ms-powerpoint.presentation.macroEnabled.12|
|application/vnd.ms-powerpoint.template.macroEnabled.12|
|application/vnd.ms-powerpoint.slideshow.macroEnabled.12|
|application/vnd.ms-access|
|application/vnd.ms-office|
|application/xml|
|text/xml|

| **Google docs** |
| ------- |
|application/vnd.openxmlformats-officedocument.wordprocessingml.documentapplication/vnd.openxmlformats-officedocument.wordprocessingml.document|
|application/vnd.openxmlformats-officedocument.spreadsheetml.sheetapplication/vnd.openxmlformats-officedocument.spreadsheetml.sheet|

| **Other documents** |
| ------- |
|application/CDFV2|

| **Openoffice documents** |
| ------- |
|application/vnd.oasis.opendocument.text|
|application/vnd.oasis.opendocument.text-template|
|application/vnd.oasis.opendocument.text-web|
|application/vnd.oasis.opendocument.text-master|
|application/vnd.oasis.opendocument.graphics|
|application/vnd.oasis.opendocument.graphics-template|
|application/vnd.oasis.opendocument.presentation|
|application/vnd.oasis.opendocument.presentation-template|
|application/vnd.oasis.opendocument.spreadsheet|
|application/vnd.oasis.opendocument.spreadsheet-template|
|application/vnd.oasis.opendocument.chart|
|application/vnd.oasis.opendocument.formula|
|application/vnd.oasis.opendocument.database|
|application/vnd.oasis.opendocument.image|
|application/vnd.openofficeorg.extension|
|application/octet-stream|

| **Audio** |
| ------- |
|audio/ac3|
|audio/basic|
|audio/midi|
|audio/mpeg|
|audio/prs.sid|
|audio/vnd.rn-realaudio|
|audio/x-aac|
|audio/x-adpcm|
|audio/x-aifc|
|audio/x-aiff|
|audio/x-aiff|
|audio/x-aiffc|
|audio/x-flac|
|audio/x-m4a|
|audio/x-mod|
|audio/x-mp3-playlist|
|audio/x-mpeg|
|audio/x-mpegurl|
|audio/x-ms-asx|
|audio/x-pn-realaudio|
|audio/x-pn-realaudio|
|audio/x-riff|
|audio/x-s3m|
|audio/x-scpls|
|audio/x-scpls|
|audio/x-stm|
|audio/x-voc|
|audio/x-wav|
|audio/x-xi|
|audio/x-xmxm|
|audio/mpeg3|
|audio/x-mpeg-3|

| **Video** |
| ------- |
|video/3gpp|
|video/dv|
|video/isivideo|
|video/mpeg|
|video/quicktime|
|video/vivo|
|video/vnd.rn-realvideo|
|video/wavelet|
|video/x-3gpp2|
|video/x-anim|
|video/x-avi|
|video/x-flic|
|video/x-mng|
|video/x-ms-asf|
|video/x-ms-wmv|
|video/x-msvideo|
|video/x-nsv|
|video/x-real-video|
|video/x-sgi-movie|
|video/webm|
|video/mp4|
|video/mpeg|
|video/x-mpeg|
|video/x-matroska|

# Group Base requests

## Base requests for many of endpoints [/example/entity/endpoint]
This requests available for many of endpoints. Don't forget to replace example endpoint `/example/entity/endpoint` to what you need.

### Get attributes of an entity [OPTIONS]
Get attributes list of an entity.

+ Response 200 (application/json)
    + Attributes (array[Base options response, Base options with AFs response])

### Get amount of entities [HEAD]
Get amount of entities. You can use search params.

+ Response 204 (application/json)
    + Headers

            Access-Control-Expose-Headers: X-total-count
            X-total-count: 12

# Group Auth

## Tokens [/admin/auth/tokens]
Work with tokens.

### Generate access token [POST /admin/auth/tokens]
Generate new access token by authentication data.


**Attention**

When `auth_type` is `admin` and two-factor authentication is enabled you should pass one of these attributes: `code` or `fingerprint`. You can check two-factor authentication status with [this request](#reference/auth/two-factor-authentication/check-status).


**Required attributes by authentication type:**

|             | admin | customer | api_key | session |
|-------------|:-----:|:--------:|:-------:|:-------:|
| login       |   +   |     +    |         |         |
| password    |   +   |     +    |         |         |
| key         |       |          |    +    |         |
| signature   |       |          |    +    |         |
| nonce       |       |          |    +    |         |
| session_id  |       |          |         |    +    |
| code        |   *   |          |         |         |
| fingerprint |   *   |          |         |         |


Labels description:
* `+` Always required.
* `*` One of these attributes is required when two-factor authentication is enabled.

#### Possible errors
* `INVALID_TWO_FACTOR_CODE` - Invalid two-factor `code` or `fingerprint`.
* `MISSED_TWO_FACTOR_CODE` - Missed required two-factor `code` or `fingerprint`.
* `INVALID_AUTH_TYPE` - Invalid authentication type. Allowed types: `admin`, `customer`, `api_key` or `session`.

+ Request (application/json)
    + Attributes (Token request data)

+ Response 201 (application/json)
    + Attributes (Token generate response)

### Renew token [GET /admin/auth/tokens/{token}]
Renew expired access token.

#### Possible errors
* `NOT_FOUND` - Refresh token not found.
* `EXPIRED_REFRESH_TOKEN` - Refresh token expired.
* `TOKEN_BANNED` - Refresh token banned by server.
* `USER_AGENT_CHANGED` - Trying make request with changed user agent. Generating token and making requests should be use the same user agent.
* `IP_CHANGED` - Trying make request from unknown IP. Generating token and making requests should be do from the same IP address.

+ Parameters
    + token (required, string, `2dbf3280cf9sb3b8a7c15201c76b9s1`) ... The token string.

+ Response 200 (application/json)
    + Attributes (Token renew response)

### Delete token [DELETE /admin/auth/tokens/{token}]
Delete existing token.

+ Parameters
    + token (required, string, `2dbf3280cf9sb3b8a7c15201c76b9s1`) ... The token string.

+ Response 204


## Trusted devices collection [/admin/auth/trusted-devices]

### Create a Trusted device [POST]
Creates a new Trusted device. This functionality available only if two-factor authentication is enabled.
You can remind a user device after login and during next login you can pass stored fingerprint for login without two-factor code (only for admins authentication).

+ Request (application/json)
    + Attributes (Trusted device Base)

+ Response 201 (application/json)
    + Attributes (Trusted device Id)

### List all Trusted devices [GET]
Returns a list of your Trusted devices.

+ Response 200 (application/json)
    + Attributes (array[Trusted device Response])

## Trusted device [/admin/auth/trusted-devices/{id}]
Work with Trusted device.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Trusted device.

### Retrieve a Trusted device [GET]
Retrieves the Trusted device with the given ID.

+ Response 200 (application/json)
    + Attributes (Trusted device Response)

### Delete a Trusted device [DELETE]
Delete the Trusted device with the given ID.

+ Response 204

## Two-factor authentication [/admin/auth/two-factor-status]
Work with two-factor authentication.

### Check status [POST]
Check if two-factor authentication is enabled.
+ Request (application/json)
    + Attributes (Two factor Request)

+ Response 201 (application/json)
    + Attributes (Two factor Response)


## Sessions [/admin/auth/sessions]
Work with Splynx sessions.

### Create session [POST]
Create new PHP session by current API user.
+ Request (application/json)
    + Headers

            Authorization: Splynx-EA (access_token=YOUR_ACCESS_TOKEN)

+ Response 201 (application/json)
    + Attributes (Create session response)

# Group Api

## Check [/admin/api/check?code={code}&checkAuth={checkAuth}]

### API Check [GET]
Check if the API is working

+ Parameters
    + code (optional, string, `64b1b5d42156bfc00435e868bb4e62c1`) ... The server verification code is used by redis to verify compliance
    + checkAuth (optional, boolean, `false`) ... Parameter to determine whether to check the API keys

+ Response 200 (application/json)
    + Attributes (Check response)

# Data Structures

## Check response (object)
+ status: `ok` (string) - Request status
+ message: `API is valid` (string) - Request message
+ same_server: `false` (boolean) - The result of checking the `code` parameter if it was passed, otherwise false

# Group Dashboard

## Admin [/admin/dashboard/dashboard]
Work with admin dashboard widgets.

### Get widgets list [OPTIONS]
Get enabled admin dashboard widgets list.

+ Response 200 (application/json)
    + Attributes (array[Dashboard options response])

### Get widgets info [GET]
Get admin dashboard widgets info.

+ Response 200 (application/json)
    + Attributes (array[Dashboard response])


## Portal [/portal/dashboard/dashboard]
Work with portal dashboard widgets.

### Get widgets list [OPTIONS]
Get enabled portal dashboard widgets list.

+ Response 200 (application/json)
    + Attributes (array[Dashboard options response])

### Get widgets info [GET]
Get portal dashboard widgets info.

+ Response 200 (application/json)
    + Attributes (array[Dashboard response])

# Group Login

## Portal login [/portal/login/entry-points?render={render}]
Work with entry points placed on portal login page. Authorization is not required.

+ Parameters
    + render (required, number, `1`) ... Get rendered or raw code of entry points

### List all Entry points [GET]
Get all entry points placed on portal login page.

+ Response 200 (application/json)
    + Attributes (array[Entry point view response])

### Retrieve Entry point [GET /portal/login/entry-points?id={id}&render={render}]
Retrieves Entry point with the given ID.

+ Parameters
    + id (required, number, `121`) ... Entry point ID
    + render (required, number, `1`) ... Get rendered or raw code of entry points

+ Response 200 (application/json)
    + Attributes (Entry point view response)

### Get Entry points attributes [OPTIONS]
Get entry points attributes description.

+ Response 200 (application/json)
    + Attributes (array[Base options response])

# Group Tariffs

## Internet tariffs collection [/admin/tariffs/internet]

### Create Internet tariff [POST]
Creates new Internet tariff.

+ Request (application/json)
    + Attributes (Internet tariff Base)

+ Response 201 (application/json)
    + Attributes (Internet tariff Id)

### List all Internet tariffs [GET]
Returns list of your Internet tariffs.

+ Response 200 (application/json)
    + Attributes (array[Internet tariff list Response])

## Internet tariff [/admin/tariffs/internet/{id}]
Work with Internet tariff.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Internet tariff.

### Retrieve Internet tariff [GET]
Retrieves Internet tariff with the given ID.

+ Response 200 (application/json)
    + Attributes (Internet tariff Response)

### Update Internet tariff [PUT]
Update Internet tariff with the given ID.

+ Request (application/json)

        {
            "title": Omega
        }

+ Response 202 (application/json)

### Delete Internet tariff [DELETE]
Delete Internet tariff with the given ID.

+ Response 204

## Voice tariffs collection [/admin/tariffs/voice]

### Create Voice tariff [POST]
Creates new Voice tariff.

+ Request (application/json)
    + Attributes (Voice tariff Base)

+ Response 201 (application/json)
    + Attributes (Voice tariff Id)

### List all Voice tariffs [GET]
Returns list of your Voice tariffs.

+ Response 200 (application/json)
    + Attributes (array[Voice tariff Response])

## Voice tariff [/admin/tariffs/voice/{id}]
Work with Voice tariff.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Voice tariff.

### Retrieve Voice tariff [GET]
Retrieves Voice tariff with the given ID.

+ Response 200 (application/json)
    + Attributes (Voice tariff Response)

### Update Voice tariff [PUT]
Update Voice tariff with the given ID.

+ Request (application/json)

        {
            "title": Omega
        }

+ Response 202 (application/json)

### Delete Voice tariff [DELETE]
Delete Voice tariff with the given ID.

+ Response 204

## Recurring tariffs collection [/admin/tariffs/recurring]

### Create Recurring tariff [POST]
Creates new Recurring tariff.
+ Request (application/json)
    + Attributes (Recurring tariff Base)

+ Response 201 (application/json)
    + Attributes (Recurring tariff Id)

### List all Recurring tariffs [GET]
Returns list of your Recurring tariffs.

+ Response 200 (application/json)
    + Attributes (array[Recurring tariff Response])

## Recurring tariff [/admin/tariffs/recurring/{id}]
Work with Recurring tariff.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Recurring tariff.

### Retrieve Recurring tariff [GET]
Retrieves Recurring tariff with the given ID.

+ Response 200 (application/json)
    + Attributes (Recurring tariff Response)

### Update Recurring tariff [PUT]
Update Recurring tariff with the given ID.

+ Request (application/json)

        {
            "title": Omega
        }

+ Response 202 (application/json)

### Delete Recurring tariff [DELETE]
Delete Recurring tariff with the given ID.

+ Response 204

## Bundles tariffs collection [/admin/tariffs/bundle]

### Create Bundle tariff [POST]
Creates new Bundle tariff.

+ Request (application/json)
    + Attributes (Bundle tariff Base)

+ Response 201 (application/json)
    + Attributes (Bundle tariff Id)

### List all Bundle tariffs [GET]
Returns list of your Bundle tariffs.

+ Response 200 (application/json)
    + Attributes (array[Bundle tariff Response])

## Bundle tariff [/admin/tariffs/bundle/{id}]
Work with Bundle tariff.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Bundle tariff.

### Retrieve Bundle tariff [GET]
Retrieves Bundle tariff with the given ID.

+ Response 200 (application/json)
    + Attributes (Bundle tariff Response)

### Update Bundle tariff [PUT]
Update Bundle tariff with the given ID.

+ Request (application/json)

        {
            "title": New bundle tariff
        }

+ Response 202 (application/json)

### Delete Bundle tariff [DELETE]
Delete Bundle tariff with the given ID.

+ Response 204

## One-time tariffs collection [/admin/tariffs/one-time]

### Create One-time tariff [POST]
Creates new One-time tariff.

+ Request (application/json)
    + Attributes (One-time tariff Base)

+ Response 201 (application/json)
    + Attributes (One-time tariff Id)

### List all One-time tariffs [GET]
Returns list of your One-time tariffs.

+ Response 200 (application/json)
    + Attributes (array[One-time tariff Response])

## One-time tariff [/admin/tariffs/one-time/{id}]
Work with One-time tariff.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired One-time tariff.

### Retrieve One-time tariff [GET]
Retrieves One-time tariff with the given ID.

+ Response 200 (application/json)
    + Attributes (One-time tariff Response)

### Update One-time tariff [PUT]
Update One-time tariff with the given ID.

+ Request (application/json)

        {
            "title": Omega
        }

+ Response 202 (application/json)

### Delete One-time tariff [DELETE]
Delete One-time tariff with the given ID.

+ Response 204

## Change tariff [/admin/tariffs/change-tariff/{service_id}?type={service_type}]
Change tariff for service.

+ Parameters
    + service_id (required, number, `1`) ... The ID of the desired Service.
    + service_type (enum[string], required) - Service type.
        + Members
            + `internet` - Internet service type
            + `voice` - Voice service type
            + `custom` - Custom service type

### Retrieve tariffs for change [GET /admin/tariffs/tariffs-for-change?type={type}&id={tariff_id}]
Retrieves suitable tariffs list for change from source tariff.

+ Parameters
    + type (enum[string], required) - Tariff type
        + Members
            + `internet` - Internet tariff type
            + `voice` - Voice tariff type
            + `custom` - Custom tariff type
    + tariff_id (required, number, `2`) ... The ID of source tariff

+ Response 200 (application/json)
    + Attributes (array[Tariff for change response])

### Retrieve start date of new tariff [GET]
Retrieves the nearest possible start date of new tariff.

+ Response 200 (application/json)
    + Attributes (Change Tariff Get Response)

### Change tariff [PUT]
Change tariff for the given service.

+ Request (application/json)

        {
            "newTariffId": 1,
            "targetDate": "2019-02-09",
            "description": new description,
            "newServicePrice": 10.0000
        }

+ Response 202 (application/json)

# Group FUP

## FUP Counter collection [/admin/fup/counter]

### List all FUP Counters [GET]
Returns list of your FUP Counters

+ Response 200 (application/json)
    + Attributes (array[FUP Counter Response])

## FUP Counter [/admin/fup/counter/{service_id}]
Work with FUP Counter

+ Parameters
    + service_id (required, number, `1`) ... The service ID of the desired FUP Counter

### Retrieve FUP Counter [GET]
Retrieves FUP Counter with the given ID

+ Response 200 (application/json)
    + Attributes (FUP Counter Response)

### Update FUP Counter [PUT]
Update FUP Counter with the given ID

+ Request (application/json)

        {
            "day_up": 2154842512
        }

+ Response 202 (application/json)

## FUP Compiler collection [/admin/fup/compiler]

### List all FUP Compilers [GET]
Returns list of your FUP Compilers

+ Response 200 (application/json)
    + Attributes (array[FUP Compiler Response])

## FUP Compiler [/admin/fup/compiler/{service_id}]
Work with FUP Compiler

+ Parameters
    + service_id (required, number, `1`) ... The service ID of the desired FUP Compiler

### Retrieve FUP Compiler [GET]
Retrieves FUP Compiler with the given ID

+ Response 200 (application/json)
    + Attributes (FUP Compiler Response)

### Update FUP Compiler [PUT]
Update FUP Compiler with the given ID

+ Request (application/json)

        {
            "traffic_accounting": 0
        }

+ Response 202 (application/json)


## FUP Policies collection [/admin/fup/policies]

### List all FUP Policies [GET]
Returns list of your FUP Policies

+ Response 200 (application/json)
    + Attributes (array[FUP Policy Response])

## FUP Policy [/admin/fup/policies/{id}]
Work with FUP Policy.

+ Parameters
    + id (required, number, `1`) ... The service ID of the desired FUP Policy

### Retrieve FUP Policy [GET]
Retrieves FUP Policy with the given ID

+ Response 200 (application/json)
    + Attributes (FUP Policy Response)

### Update FUP Policy [PUT]
Update FUP Policy with the given ID

+ Request (application/json)

        {
            "name": "New FUP Policy"
        }

+ Response 202 (application/json)


## FUP Limits collection [/admin/fup/fup-limits]

### List all FUP Limits [GET]
Returns list of your FUP Limits

+ Response 200 (application/json)
    + Attributes (array[FUP Limit Response])

## FUP Limit [/admin/fup/fup-limits/{tariff_id}]
Work with FUP Limit.

+ Parameters
    + tariff_id (required, number, `1`) ... The Tariff ID of the desired FUP Limit

### Retrieve FUP Limit [GET]
Retrieves FUP Limit with the given Tariff ID

+ Response 200 (application/json)
    + Attributes (FUP Limit Response)

### Update FUP Limit [PUT]
Update FUP Limit with the given ID

+ Request (application/json)

        {
            "traffic_amount": "123"
        }

+ Response 202 (application/json)

## FUP Override collection [/admin/fup/fup-override]

### List all FUP Override [GET]
Returns a list of all FUP Overrides.

+ Response 200 (application/json)
    + Attributes (array[FUP Override Response])

### Create FUP Override [POST]
Creates a new FUP Override.

+ Request (application/json)
    + Attributes (FUP Override Base)

+ Response 201 (application/json)
    + Attributes (FUP Override Id)


## FUP Override [/admin/fup/fup-override/{id}]
Represents a single FUP Override.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired FUP Override.

### Retrieve FUP Override [GET]
Retrieves details of a specific FUP Override.

+ Response 200 (application/json)
    + Attributes (FUP Override Response)

### Update FUP Override [PUT]
Updates an existing FUP Override.

+ Request (application/json)

        {
            "speed_download": 15000
        }

+ Response 202 (application/json)

### Delete FUP Override [DELETE]
Removes a specific FUP Override.

+ Response 204 (No Content)

## Traffic usage [/admin/fup/usage/{service_id}?with_texts={with_texts}]
Service traffic usage

+ Parameters
    + service_id (required, number, `151`) ... The internet service ID
    + with_texts (required, boolean, `true`) ... Get texts for the Progress widget

### Get traffic usage [GET]
Retrieve internet service traffic usage info

+ Response 200 (application/json)
    + Attributes (FUP Usage Response)


# Data Structures

## Token request data (object)
+ auth_type: `customer` (enum[string], required) - Authorization type
    + Members
        + `admin` - Generate token by admin login and password
        + `customer` - Generate token by customer login and password
        + `api_key` - Generate token by API key and secret
        + `session` - Generate token by session id
+ login: `bob` (string, optional) - Admin or customer login. Required for auth types: `admin`, `customer`.
+ password: `hard_password` (string, optional) - Admin or customer password. Required for auth types: `admin`, `customer`.
+ key (string, optional) - API key. Required for auth type `api_key`.
+ secret (string, optional) - API secret. Required for auth type `api_key`.
+ session_id (string, optional) - Splynx session id. Required for auth type `session`.
+ code (string, optional) - Two factor code. Can be used only with auth type `admin` when two factor authentication is enabled.
+ fingerprint (string, optional) - The fingerprint of the trusted device. Can be used only with auth type `admin` when two factor authentication is enabled. This fingerprint returns when you add a trusted device.

## Token renew response (object)
+ access_token: `2dbf3280cf9sb3b8a7c15201c76b9s1` (string) - Access token. Contains user information
+ access_token_expiration: `1542493076` (number) - Access token expiration timestamp
+ refresh_token: `caebf3980cf9fb3b8c7c15501c77b980` (string) - Refresh token
+ refresh_token_expiration: `1578673076` (number) - Refresh token expiration timestamp

## Token generate response (Token renew response)
+ permissions (array) - Token permissions

## Trusted device Base (object)
+ device_type: `mobile` (string, required) - Device type
+ os: `Android` (string, required) - Device operation system
+ name: `Nexus 5x - Sheduling app` (string, required) - Device name
+ device_id: `goldfish` (string) - Device ID.
+ fingerprint: `google/walleye/walleye:8.1.0/OPM2.171026.006.G1/4820017:user/release-keys` (string) - Device fingerprint.

## Trusted device Response (object)
+ id: `1` (number) - Trusted device ID
+ admin_id: `1` (number) - Admin ID
+ device_type: `mobile` (string, required) - Device type
+ os: `Android` (string) - Device operation system
+ name: `Nexus 5x - Sheduling app` (string) - Device name
+ finger_print_cookies: `iIqkQMh381CushYK/iDsIntTAfy` (string) - Device fingerprint. You can use this fingerprint for authenticate without entering two-factor code.
+ device_info (object) - Device additional info
+ added_time: `2019-09-23 14:54:15` (string) - Datetime when device added

## Trusted device Id (object)
+ id: `1` (number) - Trusted device ID
+ fingerprint: `TPc65HBDLrawo+ik78zuQGefv` (string) - Trusted device fingerprint. You can use this fingerprint for authorize without entering two-factor code.

## Two factor Request (object)
+ login: `admin_login` (string) - Administrator login or email

## Two factor Response (object)
+ two_factor_enabled: `true` (boolean) - Whether two-factor authentication is enabled?

## Create session response (object)
+ session_id: `caebf3980cf9fb3b8c7c15501c77b980` (string) - Splynx PHP session id
+ csrf_token: `1953cbf82dae83fd26e6cc460506fca2` (string) - CSRF token

## Dashboard response (object)
+ name: `top` (string) - Name of widget
+ type: `base` (enum[string]) - Type of widget
    + Members
        + `base` - Base splynx dashboard widget
        + `entry_point` - Splynx entry point
+ data (Dashboard data example) - Widget info. This is only example.

## Dashboard data example (object)
+ customersNew: `21` (number)
+ customersOnline: `5` (number)
+ tickets: `2` (number)
+ other_info: `Other information` (string)

## Dashboard options response (object)
+ name: `addon_isl_code_widget` (string) - Name of widget
+ type: `entry_point` (enum[string]) - Type of widget
    + Members
        + `base` - Base splynx dashboard widget
        + `entry_point` - Splynx entry point code widget
+ module: `splynx_addon_isl` (string) - Add-on module name. Included if type of widget is `entry_point`.
+ placement: `after_content` (enum[string]) - Widget placement area. Included if type of widget is `entry_point`.
    + Members
        + `before_content` - Place before content
        + `after_content` - Place after content

## Entry point view response (object)
+ id: `123` (number) - Entry point id
+ module: `splynx_addon_isl` (string) - Add-on module name.
+ place: `portal` (string) - Entry point placement.
+ type: `code` (string) - Entry point type.
+ size: `large` (string) - Entry point size.
+ title: `Social registration` (string) - Entry point title.
+ root: `controllers\\portal\\LoginController` (string) - Entry point root.
+ model (string) - Entry point model.
+ icon (string) - Entry point icon. Used in entry points with type `action_link`.
+ background (string) - Entry point background color. Used in entry points with type `menu_link`.
+ url (string) - Entry point url. Used in entry points with types `action_link`, `menu_link` and `tab`.
+ code: `<h3>Widget code</h3>` (string) - Code of an entry point.

## Base options response (object)
+ name: `module` (string) - Attribute name
+ title: `Module name` (string) - Attribute title
+ type: `string` (string) - Attribute type
+ required: `true` (boolean) - Is this attribute required

## Base options with AFs response (object)
+ name: `ip` (string) - Attribute name
+ title: `Example additional attribute` (string) - Attribute title
+ type: `string` (string) - Attribute type
+ required: `true` (boolean) - Is this attribute required
+ module: `paypal` (string) - Additional attribute module
+ category: `0` (number) - Category
+ position: `6` (number) - Position in additional fields list
+ decimals: `2` (number) - Count of decimals
+ is_unique: `false` (boolean) - Is unique
+ is_add: `false` (boolean) - Show attribute in "create" form
+ show_in_list: `true` (boolean) - Show attribute in tables
+ searchable: `true` (boolean) - Allow search by this attribute
+ readonly: `false` (boolean) - Make attribute readonly
+ disabled: `false` (boolean) - Don't send attribute to server from form
+ hidden: `false` (boolean) - Hide attribute for users
+ set_default_value: `true` (boolean) - Set default value for all

## Customer label (object)
+ id: `1` (number) - Customer label ID
+ label: `Label name` (string) - Name of the customer label
+ color: `#357bf2` (string) - Color in hexadecimal format

## Internet tariff Base (object)
+ title: `Aplha` (string, required) - Unique title of tariff
+ service_name: `aplha` (string, optional) - Unique service name. If not set will be get from title
+ partners_ids: `1` (array, required) - Array of partners (ids) who can use this tariff
+ price: `100` (number, optional) - Price
+ with_vat: `true` (boolean, required) - With VAT or not
+ vat_percent: `19` (number, optional) - VAT value
+ speed_download: `102400` (number, required) - Download speed (kbps)
+ speed_upload: `102400` (number, required) - Upload speed (kbps)
+ speed_limit_at: `10` (number, optional) - Guaranteed speed limit at X%. Default: 10
+ aggregation: `1` (number, optional) - Aggregation: 1:X. Default: 1
+ burst_limit: `0` (number, optional) - Burst limit: +X%. Default: 0
+ burst_limit_fixed_down: `0` (number, optional) - Download burst limit. Default: 0
+ burst_limit_fixed_up: `0` (number, optional) - Upload burst limit. Default: 0
+ burst_threshold: `0` (number, optional) - Burst threshold: X%. Default: 0
+ burst_threshold_fixed_down: `0` (number, optional) - Download burst threshold. Default: 0
+ burst_threshold_fixed_up: `0` (number, optional) - Upload burst threshold. Default: 0
+ burst_time: `0` (number, optional) - Burst time: X sec. Default: 0
+ burst_type: `none`, `percent`, `fixed` (array, optional) - Burst. Default: none
+ `billing_types`: `recurring`, `prepaid`, `prepaid_monthly` (array, optional) - Types of billing
+ customer_categories: `person`, `company`, (array, optional) - Customer categories
+ exclude_traffic_classes: `0`, (array[number], optional) - IDs of Traffic classes
+ hide_on_admin_portal: `false` (boolean, required) - Hide tariff on Admin portal. Default: false
+ show_on_customer_portal: `false` (boolean, required) - Show tariff on Customer portal. Default: false
+ priority: `low`, `normal`, `high` (array, optional) - Priority
+ speed_limit_type: `none` (string, optional) - Type. Can be `none`, `percent`, `fixed`
+ speed_limit_fixed_down: `0` (number, optional) - Guaranteed download speed limit. Default: 0
+ speed_limit_fixed_up: `0` (number, optional) - Guaranteed upload speed limit. Default: 0
+ tax_id: `0` (number, optional) - Tax id
+ transaction_category_id: `0` (number, optional) - Transaction category id. Default: 0
+ billing_days_count: `1` (number, optional) - Prepaid period days. Default: 1
+ custom_period: `1` (enum[number], optional)
    Use for check if use custom period
    + Members
        + `0` - Monthly
        + `1` - Days amount
+ available_for_services: `true` (boolean, optional) - Available to assign in services
+ available_for_locations: `1` (array[number], optional) - Array of locations (ids)
+ customer_labels: `1` (array[number]) - Array of customer labels (ids)

## Internet tariff Response (Internet tariff Base)
+ id: `1` (number, required) - Internet tariff ID
+ customer_labels (array[Customer label]) - Array of customer labels
+ services: `0` (number) - Number of services used

## Internet tariff list Response (Internet tariff Response)
+ tariffs_for_change: `0` (array[number], optional) - Tariff plans available in customer portal for changing services (ids)

## Internet tariff Id (object)
+ id: `1` (number, required) - Internet tariff ID

## Voice tariff Base (object)
+ title: `Aplha` (string, required) - Unique title of tariff
+ service_name: `aplha` (string, optional) - Unique service name. If not set will be get from title
+ type: `voip` (string, required) - Type. Can be 'voip' for VoIP, 'fix' for Fix, 'mobile' for Mobile. Default: 'voip'
+ partners_ids: `1` (array, required) - Array of partners (ids) who can use this tariff
+ price: `100` (number, optional) - Price
+ with_vat: `true` (boolean, required) - With VAT or not
+ vat_percent: `19` (number, optional) - VAT value
+ `billing_types`: `recurring`, `prepaid`, `prepaid_monthly` (array, optional) - Types of billing
+ billing_days_count: `1` (number, optional) - Prepaid period days. Default: 1
+ available_for_locations: `1` (array[number], optional) - Array of locations (ids)
+ buy_price_increase: `0` (number, optional) - Buy price increase
+ connection_cost_included: `true` (boolean, optional) - Included pricing cover connect cost
+ customer_categories: `person`, `company`, (array, optional) - Customer categories
+ customer_labels (array[Customer label], optional) - Array of customer labels
+ customer_rate_table_id (number, optional) - Rate table (id)
+ hide_on_admin_portal: `false` (boolean, optional) - Hide tariff on Admin portal. Default: false
+ show_on_customer_portal: `false` (boolean, optional) - Show tariff on Customer portal. Default: false
+ tax_id: `0` (number, optional) - Tax id
+ custom_period: `1` (enum[number], optional)
    Use for check if use custom period
    + Members
        + `0` - Monthly
        + `1` - Days amount
+ available_for_services: `true` (boolean, optional) - Available to assign in services
+ customer_labels: `1` (array[number]) - Array of customer labels (ids)

## Voice tariff Response (Voice tariff Base)
+ id: `1` (number, required) - Voice tariff ID
+ customer_labels (array[Customer label]) - Array of customer labels
+ tariffs_for_change: `0` (array[number], optional) - Tariff plans available in customer portal for changing services (ids)
+ services: `0` (number) - Number of services used
+ transaction_category_id: `0` (number) Transaction category
+ transaction_category_id_for_calls: `0` (number) Transaction category for calls. Default: 0
+ transaction_category_id_for_data: `0` (number) Transaction category for data. Default: 0
+ transaction_category_id_for_messages: `0` (number) Transaction category for messages. Default: 0

## Voice tariff Id (object)
+ id: `1` (number, required) - Voice tariff ID

## Recurring tariff Base (object)
+ title: `Aplha` (string, required) - Unique title of tariff
+ service_name: `aplha` (string, optional) - Unique service name. If not set will be get from title
+ partners_ids: `1` (array, required) - Array of partners (ids) who can use this tariff
+ price: `100` (number, optional) - Price
+ with_vat: `true` (boolean, required) - With VAT or not
+ vat_percent: `19` (number, optional) - VAT value
+ `billing_types`: `recurring`, `prepaid`, `prepaid_monthly` (array, optional) - Types of billing
+ billing_days_count: `1` (number, optional) - Prepaid period days. Default: 1
+ custom_period: `1` (enum[number], optional)
    Use for check if use custom period
    + Members
        + `0` - Monthly
        + `1` - Days amount
+ available_for_services: `true` (boolean, optional) - Available to assign in services
+ available_for_locations: `1` (array[number], optional) - Array of locations (ids)
+ customer_categories: `person`, `company`, (array, optional) - Customer categories
+ customer_labels: `1` (array[number]) - Array of customer labels (ids)
+ hide_on_admin_portal: `false` (boolean, required) - Hide tariff on Admin portal. Default: false
+ show_on_customer_portal: `false` (boolean, optional) - Show tariff on Customer portal. Default: false
+ tax_id: `0` (number, optional) - Tax id

## Recurring tariff Response (Recurring tariff Base)
+ id: `1` (number, required) - Recurring tariff ID
+ customer_labels (array[Customer label]) - Array of customer labels
+ services: `0` (number) - Number of services used
+ tariffs_for_change: `0` (array[number], optional) - Tariff plans available in customer portal for changing services (ids)
+ transaction_category_id: `0` (number) Transaction category

## Recurring tariff Id (object)
+ id: `1` (number, required) - Recurring tariff ID

## Bundle tariff Base (object)
+ title: `Aplha` (string, required) - Unique title of tariff
+ service_description: `aplha` (string, optional) - Unique service description
+ partners_ids: `1`,`2` (array, required) - List of partners (ids) who can use this tariff
+ price: `100` (number, optional) - Price. Default: 0
+ with_vat: `true` (boolean, optional) - With VAT or not. Default: 1
+ vat_percent: `19` (number, optional) - VAT value. Default: 21
+ activation_fee: `0.5` (number, optional) - Activation fee. Default: 0
+ issue_invoice_while_service_creation: `true` (boolean, optional) - Issue an invoice while service creation. Default: 0
+ cancellation_fee: `1.5` (number, optional) - Cancellation fee. Default: 0
+ prior_cancellation_fee: `1.5` (number, optional) - Prior cancellation fee. Default: 0
+ change_to_other_bundle_fee: `0` (number, optional) - Change to other bundle fee. Default: 0
+ contract_duration: `1` (number, optional) - Contract duration
+ `get_activation_fee_when`: `create_service` (string, optional) - Get activation fee when create service: 'create_service' or after first service billing day: 'first_service_billing'
+ automatic_renewal: `true` (boolean, optional) - Automatic renewal. Default: 0
+ auto_reactivate: `false` (boolean, optional) - Auto reactivate when deposit become more then minimal balance. Default: 0
+ discount_period: `5` (number, optional) - Discount period
+ discount_type: `percent` (string, optional) - Type of discount: 'percent' or 'fixed'. Default value: 'percent'
+ discount_value: `15` (number, optional) - Discount value
+ internet_tariffs: `1`,`2` (array, optional) - Internet tariffs plans
+ voice_tariffs: `1`,`2`,`3` (array, optional) - Voice tariffs plans
+ custom_tariffs: `1`,`2`,`3` (array, optional) - Custom tariffs plans
+ `billing_types`: `recurring`, `prepaid`, `prepaid_monthly` (array, optional) - Types of billing
+ billing_days_count: `1` (number, optional) - Prepaid period days. Default: 1
+ custom_period: `1` (enum[number], optional)
    Use for check if use custom period
    + Members
        + `0` - Monthly
        + `1` - Days amount
+ available_for_services: `true` (boolean, optional) - Available to assign in services
+ customer_labels: `1` (array[number]) - Array of customer labels (ids)

## Bundle tariff Response (Bundle tariff Base)
+ id: `1` (number, required) - Bundle tariff ID
+ customer_labels (array[Customer label]) - Array of customer labels

## Bundle tariff Id (object)
+ id: `1` (number, required) - Bundle tariff ID

## `One-time tariff Base` (object)
+ title: `Aplha` (string, required) - Unique title of tariff
+ service_description: `aplha` (string, optional) - Unique service description
+ price: `100` (number, optional) - Price
+ with_vat: `true` (boolean, optional) - With VAT or not
+ vat_percent: `19` (number, optional) - VAT value
+ partners_ids: `1` (array, required) - Array of partners (ids) who can use this tariff
+ customer_categories: `person`, `company`, (array, optional) - Customer categories
+ customer_labels: `1` (array[number]) - Array of customer labels (ids)
+ available_for_locations: `1` (array[number], optional) - Array of locations (ids)
+ enabled: `true` (boolean, optional) - Enabled
+ hide_on_admin_portal: `false` (boolean, required) - Hide tariff on Admin portal. Default: false
+ show_on_customer_portal: `false` (boolean, optional) - Show tariff on Customer portal. Default: false
+ tax_id: `0` (number, optional) - Tax id

## `One-time tariff Response` (One-time tariff Base)
+ id: `1` (number, required) - One-time tariff ID
+ customer_labels (array[Customer label]) - Array of customer labels
+ transaction_category_id: `0` (number) Transaction category

## `One-time tariff Id` (object)
+ id: `1` (number, required) - One-time tariff ID

## Change Tariff Get Response (object)
+ target_date: `2019-02-07` (string, required) - Start date of new tariff
+ transaction_category_id: `0` (number) Transaction category
+ services: `0` (number) - Number of services used

## Tariff for change response (object)
+ id: `3` (number) - Tariff ID
+ title: `Tariff title` (string) - Tariff title
+ price: `10.30` (string) - Tariff price
+ vat_percent: `21.0` (string) - VAT percent
+ with_vat: `true` (boolean) - Price with VAT
+ other_properties: `Other properties` (string) - And other properties according to tariff type
+ hide_on_admin_portal: `false` (boolean, required) - Hide tariff on Admin portal. Default: false
+ show_on_customer_portal: `false` (boolean, optional) - Show tariff on Customer portal. Default: false
+ available_for_locations: `1` (array[number], optional) - Array of locations (ids)
+ customer_categories: `person`, `company`, (array, optional) - Customer categories
+ partners_ids: `1` (array, required) - Array of partners (ids) who can use this tariff
+ tax_id: `0` (number, optional) - Tax id
+ service_name: `aplha` (string, optional) - Unique service name. If not set will be get from title
+ billing_days_count: `1` (number, optional) - Prepaid period days. Default: 1
+ available_for_services: `true` (boolean, optional) - Available to assign in services
+ `billing_types`: `recurring`, `prepaid`, `prepaid_monthly` (array, optional) - Types of billing
+ tariffs_for_change: `0` (array[number], optional) - Tariff plans available in customer portal for changing services (ids)
+ speed_download: `102400` (number, required) - Download speed (kbps)
+ speed_upload: `102400` (number, required) - Upload speed (kbps)
+ speed_limit_type: `none` (string, optional) - Type. Can be `none`, `percent`, `fixed`
+ speed_limit_at: `10` (number, optional) - Guaranteed speed limit at X%. Default: 10
+ speed_limit_fixed_up: `0` (number, optional) - Guaranteed upload speed limit. Default: 0
+ speed_limit_fixed_down: `0` (number, optional) - Guaranteed download speed limit. Default: 0
+ aggregation: `1` (number, optional) - Aggregation: 1:X. Default: 1
+ burst_type: `none`, `percent`, `fixed` (array, optional) - Burst. Default: none
+ burst_limit: `0` (number, optional) - Burst limit: +X%. Default: 0
+ burst_limit_fixed_up: `0` (number, optional) - Upload burst limit. Default: 0
+ burst_limit_fixed_down: `0` (number, optional) - Download burst limit. Default: 0
+ burst_threshold: `0` (number, optional) - Burst threshold: X%. Default: 0
+ burst_threshold_fixed_up: `0` (number, optional) - Upload burst threshold. Default: 0
+ burst_threshold_fixed_down: `0` (number, optional) - Download burst threshold. Default: 0
+ burst_time: `0` (number, optional) - Burst time: X sec. Default: 0
+ priority: `low`, `normal`, `high` (array, optional) - Priority
+ exclude_traffic_classes: `0`, (array[number], optional) - IDs of Traffic classes
+ services: `0` (number) - Number of services used

## FUP Counter Response (object)
+ service_id (number, required) - Service id
+ day_up (number, required) - Day up
+ day_down (number, required) - Day down
+ day_time (number, required) - Day time
+ day_bonus_up (number, required) - Day bonus up
+ day_bonus_down (number, required) - Day bonus down
+ week_up (number, required) - Week up
+ week_down (number, required) - Week down
+ week_bonus_up (number, required) - Week bonus up
+ week_bonus_down (number, required) - Week bonus down
+ week_time (number, required) - Week time
+ month_up (number, required) - Month up
+ month_down (number, required) - Month down
+ month_bonus_up (number, required) - Month bonus up
+ month_bonus_down (number, required) - Month bonus down
+ month_time (number, required) - Month time
+ cap_amount (number, required) - Cap amount
+ cap_used (number, required) - Cap used
+ over_usage (number, required) - Over usage

## FUP Compiler Response (object)
+ service_id (number, required) - Service id
+ customer_id (number, required) - Customer id
+ traffic_accounting (number, required) - Traffic accounting. Value: 1 or 0
+ time_accounting (number, required) - Time accounting. Value: 1 or 0
+ fup_policy (number, required) - FUP policy
+ decrease_percent (number, required) - Decrease percent
+ fixed_up (number, required) - Upload in bytes
+ fixed_down (number, required) - Download in bytes
+ blocked (number, required) - Blocked. Value: 1 or 0
+ is_hard (number, required) - Is hard. Value: 1 or 0
+ restored (number, required) - Restored. Value: 1 or 0
+ changed (number, required) - Changed. Value: 1 or 0

## FUP Policy Response (object)
+ id (number, required) - Policy id
+ tariff_if (number, required) - Tariff id
+ name (string, required) - Name
+ fixed_up (number, required) - Upload in bytes
+ fixed_down (number, required) - Download in bytes
+ accounting_traffic (number, required) - Traffic accounting. Value: 1 or 0
+ accounting_online (number, required) - Time accounting. Value: 1 or 0
+ action (string, required) - Action. Value: 'increase', 'decrease' or 'block'
+ percent (number) - Percent
+ conditions (string) - Conditions

## FUP Limit Response (object)
+ tariff_id:         `1` (number, required) - Tariff id
+ cap_tariff_id:     `1` (number, optional) - CAP tariff id
+ traffic_from:      `00:00` (string, optional) - Traffic from. Default '00:00'
+ online_from:       `00:00` (string, optional) - Online from. Default '00:00'
+ traffic_to:        `24:00` (string, optional) - Traffic to. Default '24:00'
+ online_to:         `24:00` (string, optional) - Online to. Default '24:00'
+ traffic_days:      `1`,`2`,`3` (array, required) - Traffic days. Default '1,2,3,4,5,6,7'
+ online_days:       `1`,`2`,`3` (array, required) - Online days. Default '1,2,3,4,5,6,7'
+ action:            `block` (string, optional) - Action. Options('decrease', 'block'). Default 'block'
+ percent:           `0` (number, optional) - Percent
+ traffic_amount:    `12334` (number, optional) - Traffic amount
+ `traffic_direction`: `up_down` (string, optional) - Options('up', 'down', 'up_down'). Default 'up_down'
+ traffic_in:        `gb` (string, optional) - Traffic in. Options('kb', 'mb', 'gb', 'tb'). Default 'gb'
+ override_traffic:  `false` (boolean, optional) - Override traffic
+ online_amount:     `123` (number, optional) - Online amount
+ online_in:         `hours` (string, optional) - Online in. Options('minutes', 'hours'). Default 'hours'
+ override_online:   `false` (boolean, optional) - Override online
+ rollover_data:     `false` (boolean, optional) - Rollover data
+ rollover_time:     `false` (boolean, optional) - Rollover time
+ bonus_is_unlimited:`false` (boolean, optional) - Bonus is unlimited. Default 'true'
+ bonus_traffic:     `1.0` (number, optional) - Bonus traffic
+ bonus_traffic_in    (string, optional) - Bonus traffic in
+ fixed_up            (number, optional) - Upload in bytes
+ fixed_down          (number, optional) - Download in bytes
+ top_up_over_usage   (boolean, optional) - Compensate over usage via Top-Up
+ top_up_trigger_percent  (number, optional) - Auto Top-Up trigger value
+ use_bonus_when_normal_ended  (boolean, optional) - Allow the usage of bonus traffic when normal CAP is finished

## FUP Override Base (object)
+ service_id: 1 (number, required) - Identifier of the related internet service
+ speed_download: 100000 (number, required) - Download speed limit in bytes/second
+ speed_upload: 150000 (number, required) - Upload speed limit in bytes/second
+ start_datetime: `2025-07-08 08:00:00` (string, required) - Start date and time
+ end_datetime: `2025-07-08 09:10:00` (string, required) - End date and time

## FUP Override Id (object)
+ id: 1 (number) - Unique FUP Override ID

## FUP Override Response (FUP Override Base)
+ id: 1 (number, required) - Unique FUP Override ID

## FUP Usage Response (object)
+ traffic_amount: `40000000000` (number) - Total amount of used traffic in bytes
+ over_usage: `0` (number) - Amount of traffic used beyond the allocated limit in bytes
+ used_amount: `323862` (number) - Used traffic amount in bytes
+ remains_amount: `676138` (number) - Remains traffic amount in bytes
+ cap_amount: `2000000` (number) - CAP traffic amount in bytes
+ used_percent: `10.79` (number) - Used traffic part in percents
+ remains_percent: `22.53` (number) - Remains traffic part in percents
+ cap_percent: `66.66` (number) - CAP traffic part in percents
+ bonus_traffic: `0` (number) - Bonus traffic
+ bonus_is_unlimited: `0` (number) - Bonus is unlimited
+ bonus_remains_amount: `0` (number) - Bonus remains amount
+ bonus_cap_amount: `0` (number) - Bonus CAP amount
+ bonus_used_percent: `0` (number) - Bonus used percent
+ bonus_remains_percent: `0` (number) - Bonus remains percent
+ bonus_cap_percent: `0` (number) - Bonus CAP percent
+ cap_bar_position: `2` (number) - Position of `CAP` bar (on the Progress widget)
+ remains_bar_position: `1` (number) - Position of `remains` bar (on the Progress widget)
+ used_text: `323.86 KB` (string)
    Title of `used` bar. Returned only if param `with_texts` is true.
+ used_label_title: `323.86 KB` (string)
    Title of `used` label. Returned only if param `with_texts` is true.
+ capped_alt: `Remains: 2 MB / 2 MB CAP` (string)
    Text on hover of `CAP` bar. Returned only if param `with_texts` is true.
+ capped_not_used_text: `2 MB` (string)
    Title of `CAP` bar. Returned only if param `with_texts` is true.
+ capped_text_all: `2 MB` (string)
    Title of the `CAP` bar, indicating the total allocated limit.
+ all_text: `1 MB` (string)
    All plan traffic title. Returned only if param `with_texts` is true.
+ remains_text: `676.14 KB` (string)
    Title of `remains` bar. Returned only if param `with_texts` is true.
+ used_alt: `Used: 323.86 KB / 1 MB (+2 MB CAP)` (string)
    Text on hover of `used` bar. Returned only if param `with_texts` is true.
+ remains_alt: `Remains: 676.14 KB / 1 MB (+2 MB CAP)` (string)
    Text on hover of `remains` bar. Returned only if param `with_texts` is true.
+ bonus_capped_text_all: `(+2 MB Bonus CAP)` (string)
    Title of the bonus `CAP` bar, indicating the total bonus traffic allocated.
+ full_cap_amount: `2000000` (number) - Full CAP traffic amount in bytes
+ bonus_all_text: `0 B` (string) - Title indicating the total bonus traffic available
+ bonus_used_label_title: `0 B` (string) - Title of the label indicating the amount of bonus traffic used
+ bonus_used_text: `0 B` (string) - Text displaying the used bonus traffic amount
+ bonus_used_alt: `Used: 0 B \/ 0 B` (string) - Text displayed on hover over the bonus usage bar, showing the used and total bonus traffic
+ bonus_remains_text: `` (string) - Text displaying the remaining bonus traffic
+ bonus_remains_alt: `Remains: 0 B \/ 0 B` (string) - Text displayed on hover over the bonus remaining bar, showing the remaining bonus traffic
+ bonus_capped_not_used_text: `0 B` (string) - Title of the bonus `CAP` bar, indicating the amount of bonus traffic not yet used
+ bonus_capped_alt: `Remains: 0 B \/ 0 B Bonus CAP` (string) - Text displayed on hover over the bonus `CAP` bar, showing the remaining and total bonus traffic

# Group CAP

## Cap Tariff collection [/admin/fup/cap-tariff]

### Add a Cap Tariff [POST]
Adds a new Cap Tariff record.

+ Request (application/json)
    + Attributes (Cap tariff Base)

+ Response 201 (application/json)
    + Attributes (Cap tariff Id)

### List all Capped data [GET]
Returns a list of your Cap Tariff records.

+ Response 200 (application/json)
    + Attributes (array[Cap tariff Response])

## Cap Tariff [/admin/fup/cap-tariff/{id}]
Work with Cap Tariff record.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Cap Tariff record.

### Retrieve a Cap Tariff [GET]
Retrieves the Cap Tariff record with the given ID.

+ Response 200 (application/json)
    + Attributes (Cap tariff Response)

### Update a Cap Tariff [PUT]
Update the Cap Tariff record with the given ID.

+ Request (application/json)

        {
            "title": 'lte-top-1g'
        }

+ Response 202 (application/json)

### Delete a Cap Tariff [DELETE]
Delete the Cap Tariff record with the given ID.

+ Response 204

## Capped data collection [/admin/fup/capped-data]

### Add a Capped data [POST]
Adds a new Capped data record.

+ Request (application/json)
    + Attributes (Capped data Base)

+ Response 201 (application/json)
    + Attributes (Capped data Id)

### List all Capped data [GET]
Returns a list of your Capped data records.

+ Response 200 (application/json)
    + Attributes (array[Capped data Response])

## Capped data [/admin/fup/capped-data/{id}]
Work with Capped data record.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Capped data record.

### Retrieve a Capped data [GET]
Retrieves the Capped data record with the given ID.

+ Response 200 (application/json)
    + Attributes (Capped data Response)

### Update a Capped data [PUT]
Update the Capped data record with the given ID.

+ Request (application/json)

        {
            "quantity": '500000000'
        }

+ Response 202 (application/json)

### Delete a Capped data [DELETE]
Delete the Capped data record with the given ID.

+ Response 204

# Data Structures

## Capped data Base (object)
+ service_id: `1` (number, required) - Existing service Id.
+ quantity: `10000000` (number, optional) - Traffic amount. Required if not set `tariff_id`. Default: 0
+ quantity_remind: `10000000` (number, optional) - Remind traffic amount. Default: 0
+ tariff_id: `1` (number, optional) - Existing CAP Tariff Id. If set then `price` and `quantity` will be taken from tariff. Required if not set `price`.
+ `over_usage`: `1` (number, optional) - Represents the amount of traffic that exceeds the FUP limit. If the usage surpasses the FUP limit, over_usage is calculated as usage - fup limit.
+ valid_till: `0000-00-00 00:00:00` (string, optional) - Valid till date.
+ end_of_period: `0000-00-00 00:00:00` (string, optional) - End of period.
+ price: `0` (number, optional) - Price of the Capped data. Required if not set `tariff_id`. Default: 0

## Capped data Id (object)
+ id: `1` (number, required) - Capped data Id.

## Capped data Response (object)
+ id: `15` (number, required) - CAP Id.
+ service_id: `100` (number, required) - Service Id.
+ quantity: `50000000` (number, required) - Traffic quantity.
+ quantity_remind: `50000000` (number, required) - Remind traffic quantity.
+ `over_usage`: `1` (number, optional) - Represents the amount of traffic that exceeds the FUP limit. If the usage surpasses the FUP limit, over_usage is calculated as usage - fup limit.
+ valid_till: `0000-00-00 00:00:00` (string, required) - Valid till date.
+ end_of_period: `0000-00-00 00:00:00` (string, optional) - End of period.
+ transaction_id: `50` (number, required) - Transaction Id.
+ price: `0.00` (number, required) - Price of the Capped data.
+ added_by: `api` (string) - Added by: 'api', 'admin', 'customer', 'system'. Default value: 'system'
+ type: `admin_top_up` (string) - Type: 'admin_top_up', 'customer_top_up', 'api_top_up', 'auto_top_up', 'rollover_unused', 'rollover_to_next_month'.
+ description: `` (string) - A dynamic description that provides information about the traffic rollover. The value depends on the specific context: it can describe the rollover traffic for a single service or the transfer of unused traffic from one service to another.

## Cap tariff Base (object)
+ tariff_id: `1` (number) - Tariff ID
+ title: `lte-top-1g` (string, required) - Title
+ amount: `1` (number, required) - Amount
+ amount_in: `gb` (string) - Amount in: 'gb' or 'mb'. Default: 'mb'
+ price: `100.00` (number) - Price
+ type: `manual` (string) - Type: 'manual', 'automatic'. Default: 'manual'
+ validity: `number_of_hours` (enum[string], required) - Validity
    + Members
        + `end_of_period`
        + `unlimited`
        + `number_of_months`
        + `number_of_days`
        + `number_of_hours`
+ validity_number: `5` (number)
Validity number is required if validity set to one of values: 'number_of_months', 'number_of_days', 'number_of_hours'. For 'number_of_months' values 1-12; for 'number_of_days' values 1-365; for 'number_of_hours' values 1-72.
+ to_invoice: `1` (number) - To invoice: '0', '1'. Default '0'
+ transaction_category_id: `1` (number) - Transaction category. Default '0'

## Cap tariff Id (object)
+ id: `1` (number, required) - Cap Tariff ID

## Cap tariff Response (Cap tariff Base)
+ id: `1` (number, required) - Cap Tariff ID

# Group Customers

## Customers collection [/admin/customers/customer]

### Create a Customer [POST]
Creates a new Customer.

+ Request (application/json)
    + Attributes (Customer Base)

+ Response 201 (application/json)
    + Attributes (Customer Id)

### List all Customers [GET]
Returns a list of your Customers.

+ Response 200 (application/json)
    + Attributes (array[Customers Response])

## Customer [/admin/customers/customer/{id}]
Work with Customers.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Customer.

### Retrieve a Customer [GET]
Retrieves the Customer with the given ID.

+ Response 200 (application/json)
    + Attributes (Customer Response)

### Update a Customer [PUT]
Update the Customer with the given ID.

+ Request (application/json)

        {
            "name": Narrator
        }

+ Response 202 (application/json)

### Delete a Customer [DELETE]
Delete the Customer with the given ID.

+ Response 204

## Customers Logs of Changes [/admin/customers/customer/{customer_id}/logs-changes]

### List Customers logs of changes [GET]
Returns a list of Customer logs of changes.

+ Parameters
    + customer_id (required, number, `40`) ... The ID of the desired Customer.

+ Response 200 (application/json)
    + Attributes (array[Customer Changes Logs First, Customer Changes Logs Service, Customer Changes Logs, Customer Changes Logs Last])

## Customer first activation [/admin/customers/customer/{customer_id}/logs-changes--first-activation]

### Get customer first activation [GET]
Returns info about first activation of customer.

+ Parameters
    + customer_id (required, number, `40`) ... The ID of the desired Customer.

+ Response 200 (application/json)
    + Attributes (Customer Changes Logs First)

## Customers last activation [/admin/customers/customer/{customer_id}/logs-changes--last-activation]

### Get customer first activation [GET]
Returns info about last activation of customer (from 'inactive' (disabled) to 'active').

+ Parameters
    + customer_id (required, number, `40`) ... The ID of the desired Customer.

+ Response 200 (application/json)
    + Attributes (Customer Changes Logs Last)

## Customer cap [/admin/customers/customer-cap/{id}]
Work with Customer cap.
+ Parameters
    + id (required, number, `1`) ... The ID of the desired Customer.

### Retrieve a Customer cap [GET]
Retrieves the Customer cap with the given ID.

+ Response 200 (application/json)
    + Attributes (Customer cap Response)

### Update a Customer cap [PUT]
Update the Customer cap "max_cap_during_month" with the given ID.

+ Request (application/json)
    + Attributes (Customer cap Response)

+ Response 202 (application/json)

## Internet service bonus traffic counter [/admin/customers/customer-bonus-traffic-counter]

### Retrieve bonus traffic record [GET /admin/customers/customer-bonus-traffic-counter/{service_id}--{date}]
Get the bonus traffic for internet service by specify `service_id` and `date`.

+ Parameters
    + service_id (number, required) - Service ID.
    + date (string, required) - Date of traffic. Note the date should have format `yyyy-mm-dd`.

+ Response 200 (application/json)
    + Attributes (Customer Bonus Traffic Counter)

### Get list bonus traffic values [GET /admin/customers/customer-bonus-traffic-counter]
Get list of bonus traffic records for internet services.

+ Response 200 (application/json)
    + Attributes (array[Customer Bonus Traffic Counter])

### Create bonus traffic record [POST]
Create the bonus traffic record for internet service.

+ Request (application/json)
    + Attributes (Customer Bonus Traffic Counter)

+ Response 201 (application/json)
    + Attributes (Customer Bonus Traffic Counter Id)

### Update bonus traffic record [PUT /admin/customers/customer-bonus-traffic-counter/{service_id}--{date}]
Update the traffic for internet service data by specify `service_id` and `date`.

+ Parameters
    + service_id (number, required) - Service ID.
    + date (string, required) - Date of traffic. Note the date should have format `yyyy-mm-dd`.

+ Request (application/json)
    + Attributes (Customer Bonus Traffic Counter)

+ Response 202 (application/json)
    + Attributes (Customer Bonus Traffic Counter)

### Delete bonus traffic record [DELETE /admin/customers/customer-bonus-traffic-counter/{service_id}--{date}]
Delete the traffic for internet service data by specify `service_id` and `date`.

+ Parameters
    + service_id (number, required) - Service ID.
    + date (string, required ) - Date of traffic. Note the date should have format `yyyy-mm-dd`.

+ Response 204 (application/json)

## Customer info [/admin/customers/customer-info/{id}?{params}]
Work with Customer info. "Birthday" and "Passport number" is for customers in category 'person'. "Company ID" and "VAT ID" for customers in category 'company'.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Customer.
    + params: `{"main_attributes": ["birthday": "1999-01-01", "passport": "740373442", "company_id": "123456", "vat_id": "1"]}` (optional, string) - URL-encoded array of search params.

### Retrieve a Customer info [GET]
Retrieves Customer info for customer/lead either with the given ID or params.

+ Response 200 (application/json)
    + Attributes (Customer info Response)

### Update a Customer info [PUT]
Update the Customer info with the given ID.

+ Request (application/json)

        {
            "passport": ER424242
        }

+ Response 202 (application/json)

## Customer Billing info [/admin/customers/billing-info/{customer_id}?format_values={format_values}]
Get customer billing info

+ Parameters
    + customer_id: `1` (Number) - The ID of the desired Customer.
    + format_values: `true` (boolean) - Return output values in system format.

### Get customer billing (blocking) info [GET]
Get customer billing (blocking) info.

For daily prepaid customers will be returned the following fields:
* howManyDaysLeft
* paymentPerPeriod
* paymentPerDay
* deposit
* services_name
* blocking_date

For monthly prepaid customers will be returned the following fields:
* howManyMonthsLeft
* howManyDaysLeft
* blockInNextBillingCycle
* paymentPerMonth
* paymentPerDay
* deposit
* services_name
* blocking_date
* service

For recurring paid customers will be returned the following fields:
* blockingEnabled
* blockInNextBillingCycle
* status
* lowBalance
* howManyDaysLeft
* blocking_date
* deposit
* blockInNextBillingCycle
* is_already_blocked
* is_already_disabled

+ Response 200 (application/json)
    + Attributes (Billing Info Response)

## Customer Payment accounts [/admin/customers/customer-payment-accounts]
Get customer billing info

### Get customer all payment accounts info [GET]
Get customer all payment accounts info

+ Response 200 (application/json)
    + Attributes (array[Payment accounts Response])

### Get customer all payment accounts data [GET /admin/customers/customer-payment-account-data]
Get all customer payment accounts data

+ Response 200 (application/json)
    + Attributes (array[Payment account data])

### Get customer payment accounts [GET /admin/customers/customer-payment-accounts?id={id}]
Get customer payment accounts data by customer id and payment account id

+ Parameters
    + id (required, string, `1`) ... `1` The ID customer or `1--2` 1 - ID customer, 2 - ID payment account

+ Response 200 (application/json)
    + Attributes (array[Payment account data])

### Update customer payment account [PUT /admin/customers/customer-payment-accounts?id={id}]
Update customer payment account data by customer id and payment account id.

+ Parameters
    + id (required, string, `1--2`) ... `1--2` 1 - ID of customer, 2 - ID of payment account

+ Request (application/json)

        {
            "field_1": 'new value'
        }

+ Response 202 (application/json)

### Remove customer payment account [DELETE /admin/customers/customer-payment-accounts?id={id}]
Remove customer payment account data.

+ Parameters
    + id (required, string, `1--2`) ... `1--2` 1 - ID of customer, 2 - ID of payment account

+ Response 204

## Customers statistics [/admin/customers/customer-statistics]

### Total customer statistics [GET]
Get all statistics from all Customers.

+ Response 200 (application/json)
    + Attributes (array[Customer Statistics])

### Customer statistic [GET /admin/customers/customer-statistics/{id}]
Get all statistics of specified Customer.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Customer.

+ Response 200 (application/json)
    + Attributes (array[Customer Statistics])

## Customer traffic counters collection [/admin/customers/customer-traffic-counter/]
Work with customer traffic counters.

### Get list of customer traffic counters [GET]
Get list of customer traffic counters for internet service.

+ Response 200 (application/json)
    + Attributes (array[Traffic counter])

### Create traffic counters record [POST]
Create the traffic counters record for internet service.

+ Request (application/json)
    + Attributes (Traffic counter)

+ Response 201 (application/json)
    + Attributes (Traffic counter create Response)

## Customer traffic counters [/admin/customers/customer-traffic-counter/{service_id}--{date}]
Work with customer traffic counters for internet service.

### Get customer traffic counters [GET]
Get the customer traffic counters for internet service by specify `service_id` and `date`

+ Parameters
    + service_id (number, required, `1`) - Service ID.
    + date (string, required, `2023-01-01`) - Date of traffic. Note the date should have format `yyyy-mm-dd`.
+ Response 200 (application/json)
    + Attributes (array[Traffic counter])

### Update customer traffic counters [PUT]
Update the customer traffic counters for internet service by specify `service_id` and `date`

+ Parameters
    + service_id (number, required, `1`) - Service ID.
    + date (string, required, `2023-01-01`) - Date of traffic. Note the date should have format `yyyy-mm-dd`.
+ Response 200 (application/json)
    + Attributes (array[Traffic counter])

### Delete customer traffic counters [DELETE]
Delete the customer traffic counters for internet service by specify `service_id` and `date`

+ Parameters
    + service_id (number, required, `1`) - Service ID.
    + date (string, required, `2023-01-01`) - Date of traffic. Note the date should have format `yyyy-mm-dd`.
+ Response 204 (application/json)

## Customers billing [/admin/customers/customer-billing/{id}]

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Customer.

### Get billing [GET]
Get desired Customer billing.

+ Response 200 (application/json)
    + Attributes (Customer Billing)

### Update billing [PUT]
Update desired Customer billing.

+ Request (application/json)

        {
            "make_invoices": 0
        }

+ Response 202 (application/json)

## Customers search [/admin/customers/customer?{params}]

### Customers search [GET]
For search customers you must add must create array of search params and add its URL-encoded version to URL.
In Request section you can see search array structure example.

+ Parameters
    + params: `{"main_attributes": ["login": "doe", "name": "john"], "additional_attributes": ["some_additional_attribute": ["value_a", "value_b"], "another_additonal_attribute": "some_value"]}` (required, string) - URL-encoded array of search params.

+ Response 200 (application/json)
    + Attributes (array[Customer Response])

## Online customers collection [/admin/customers/customers-online]

### Set customer as online [POST]
Add customer to online list.

+ Request (application/json)
    + Attributes (Customer Online Base)

+ Response 201 (application/json)
    + Attributes (Online Id)

### List all online customers [GET]
Returns list of your online customers.

+ Response 200 (application/json)
    + Attributes (array[Customer Online Response])

## Online customer [/admin/customers/customers-online/{id}]
Work with online customer.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired online customer record. **Beware: this is not customer ID!!!**

### Retrieve online customer [GET]
Retrieves online customer.

+ Response 200 (application/json)
    + Attributes (Customer Online Response)

### Update online customer [PUT]
Update online customer.

+ Request (application/json)

        {
            "in_bytes": 106325,
            "out_bytes": 3314247
        }

+ Response 202 (application/json)

### Remove customer from online [DELETE]
Remove customer from online list.

+ Response 204

## Disconnect online customer [/admin/customers/customers-online/{id}--kill]
Work with online customer.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired customer

### Disconnect online customer [PUT]
Disconnect online customer and remove customer from online list.

+ Request (application/json)

        {
            "service_id": 5
        }

+ Response 202 (application/json)

## Customer Documents collection [/admin/customers/customer-documents/{customer_id}]
Work with online customer documents list.

+ Parameters
    + customer_id (required, number, `1`) ... The ID of the desired customer documents records. **Beware: this is customer ID!!!**

### Retrieve customer documents list [GET]
Retrieves customer documents list.

+ Response 200 (application/json)
    + Attributes (array[Customer Documents Response])

## Create customer document [/admin/customers/customer-documents]
### Create customer document [POST]
Create customer document record before next step **file upload**.

+ Request (application/json)
    + Attributes (Customer Documents Request)

+ Response 201 (application/json)
    + Attributes (Customer Documents ID)

## Customer Documents upload file [/admin/customers/customer-documents/{id}--upload]
Work with online customer documents.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired customer document. **Beware: this is customer document ID!!!**

### Upload file for customer document [POST]
Upload file for **existing customer document record**.

+ Request (multipart/form-data)

        {
            "file": cURL file
        }

+ Response 202 (application/json)

## Customer Documents [/admin/customers/customer-documents/{id}]
Work with online customer documents.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired customer document. **Beware: this is customer document ID!!!**

### Update a Customer Document [PUT]
Update the Customer Document with the given ID.

+ Request (application/json)

        {
            "title": new title,
            "description": new description
        }

+ Response 202 (application/json)

### Delete Customer Document [DELETE]
Delete Customer Document with the given document ID.

+ Response 204

## Download customer document [/admin/config/download/customer_documents--{id}]
You could find more details in [Download documents](#reference/config/download-documents) block.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired customer document. **Beware: this is customer document ID!!!**

### Download customer documents [GET]

+ Response 200 (application/json)
    + Attributes (Download Response)

## Send Documents to Customer [/admin/customers/send-documents]
Send documents to customer by instant message.

### Send customer document [POST]
Send customer document.

+ Request (application/json)
    + Attributes (Send Document)

+ Response 201 (application/json)

        {
            "id": 5
        }

## Customers CAP history [/admin/customers/cap-history/{id}]
Work with Customers.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired Customer.

### Retrieve a history of Customer CAP [GET]
Retrieves the history of Customer CAP with the given ID.

+ Response 200 (application/json)
    + Attributes (array[CAP history Response])

## Customers comments collection [/admin/customers/customer-notes]

### Create a customer comment [POST]
Creates a new customer comment.

+ Request (application/json)
    + Attributes (Customer comment Base)

+ Response 201 (application/json)
    + Attributes (Customer comment Id)

### List all customer comments [GET]
Returns a list of your customer comments.

+ Response 200 (application/json)
    + Attributes (array[Customer comments Response])

## Customer comment [/admin/customers/customer-notes/{customer_id}--{id}]
Work with customer comment.

+ Parameters
    + customer_id (required, number, `1`) ... The ID of the desired customer.
    + id (required, number, `1`) ... The ID of the desired customer comment.

### Retrieve a customer comment [GET]
Retrieves the customer comment with the given ID.

+ Response 200 (application/json)
    + Attributes (Customer comment Response)

## Customer tariffs [/admin/customers/customer-tariffs/{id}?{params}]

### List customer tariffs [GET]
Request with empty params returns all customer tariffs.
Params also can be either url-encoded array of types or one type value.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired customer.
    + params: `{"types": ["bundle", "internet", "voice", "recurring": "one-time"]}` (required, string) - URL-encoded array of types or one string value.

+ Response 200 (application/json)
    See structure of tariffs attributes in the response <a href="https://splynx.docs.apiary.io/#reference/tariffs">here</a>
    + Body

            {
                "bundle": array[Bundle tariff attributes],
                "internet": array[Internet tariff attributes],
                "voice": array[Voice tariff attributes],
                "recurring": array[Recurring tariff attributes],
                "one-time": array[One-time tariff attributes],
            }

## Vouchers series collection [/admin/customers/prepaid-cards-series]

### Vouchers series [GET]
Get all series of vouchers.

+ Response 200 (application/json)
    + Attributes (array[Cards Prepaid Series])

### Create Vouchers serie [POST]
Creates new vouchers series.

+ Request (application/json)
    + Attributes (Cards Prepaid Create new)

+ Response 201 (application/json)
    + Attributes (Cards Prepaid Series Id)

## Vouchers series [/admin/customers/prepaid-cards-series/{serie_id}]
Work with customer vouchers (prepaid cards) series list.

+ Parameters
    + serie_id (required, string, `201801`) ... The serie of the desired vouchers list. **Beware: this is serie!!!**

### Retrieve vouchers list [GET]
Retrieves vouchers list by serie.

+ Response 200 (application/json)
    + Attributes (array[Cards Prepaid serie])

### Update vouchers serie [PUT]
Update vouchers serie with the given serie.

+ Request (application/json)

        {
            "prefix": "PREFIX2"
        }

+ Response 202 (application/json)

### Delete vouchers serie [DELETE]
Delete vouchers serie with the given series.

+ Response 204

## Vouchers collection [/admin/customers/prepaid-cards]

### Vouchers collection [GET]
Get all vouchers.

+ Response 200 (application/json)
    + Attributes (array[Cards Prepaid])

## Vouchers [/admin/customers/prepaid-cards/{id}]
Work with customer vouchers (prepaid card).

+ Parameters
    + id (required, number, `120`) ... The id of the desired voucher.

### Retrieve voucher [GET]
Retrieves voucher by ID.

+ Response 200 (application/json)
    + Attributes (Cards Prepaid)

### Update voucher [PUT]
Update voucher with the given ID.

+ Request (application/json)

        {
            "speed_download": 2048
        }

+ Response 202 (application/json)

### Delete voucher [DELETE]
Delete voucher with the given ID.

+ Response 204

## Vouchers Statistics [/admin/customers/prepaid-cards-statistics]

### Total vouchers statistics [GET]
Get all statistics from all vouchers.

+ Response 200 (application/json)
    + Attributes (array[Prepaid Cards Statistics])

### Voucher statistic [GET /admin/customers/prepaid-cards-statistics/{id}]
Get all statistics of specified voucher.

+ Parameters
    + id (required, number, `1`) ... The ID of the desired voucher.

+ Response 200 (application/json)
    + Attributes (array[Prepaid Cards Statistics])

## Reset password [/portal/profile/reset-password-request]
Reset customer password.

### Reset password request [POST /portal/profile/reset-password-request]
Make request for resetting customer password.

Field `login_for_reset_password` is a customer login. Always required.

Field `email_for_reset_password` required if reset password type is `Email`.

Field `phone_number_for_reset_password` required if reset password type is `Sms`.

#### Possible errors
* `RESET_PASSWORD_DISABLED` - Resetting password is disabled in config.
* `INVALID_INPUT_DATA` - Missed required parameters such as `login_for_reset_password` or `email_for_reset_password`.
* `EXCEEDED_MAX_ATTEMPTS` - Exceeded max attempts of resetting customer password.


+ Request (application/json)

        {
            "login_for_reset_password": "customer_login",
            "email_for_reset_password": "good_customer@mail.go"
            "phone_number_for_reset_password": "3809483849847"
        }

+ Response 201 (application/json)

### Confirm reset password [POST /portal/profile/reset-password-confirm]
Confirm reset customer password.

#### Possible errors
* `RESET_PASSWORD_DISABLED` - Resetting password is disabled in config.
* `INVALID_INPUT_DATA` - Missed required parameters such as `code` or `password_new`.
* `RESET_PASSWORD_CODE_INVALID` - Verification code of resetting password is invalid.
* `RESET_PASSWORD_FAIL` - Resetting password failed. Data validation failed.

+ Request (application/json)

        {
            "code": "confirmation code",
            "password_new": "new_hard_password"
        }

+ Response 201 (application/json)

# Data Structures

## Customer Base (object)
+ login: `john_doe` (string) - Login
+ status: `new` (string) - Status: 'new', 'active', 'blocked', 'disabled'. Default value: 'new'
+ partner_id: `1` (number, required) - Partner id. You can get it at page "Administration / Partners"
+ location_id: `1` (number, required) - Location id. You can get it at page "Administration / Locations"
+ parent_id: `0` (number) - ID of the main (parent) account.
+ name: `John Doe` (string, required) - Full name
+ email: `john.doe@domain.com` (string) - Email
+ billing_email: `john.doe.billing@domain.com` (string) - Billing email
+ phone: `555-0134` (string) - Phone number
+ category: `person` (string, required) - Category: 'person' (for private person) or 'company' (for company). Default value: 'person'
+ street_1: `Paper Street` (string) - Address part #1
+ zip_code (string) - Zip
+ city (string) - City
+ date_add (string) - Date of adding. Format: 'YYYY-MM-DD'. Default value: current date
+ customer_labels: `1` (array[number]) - Array of customer labels (ids)
+ subdivision_id: `1` (number) - State/province ID
+ conversion_date (string) - Date conversion customer.
+ daily_prepaid_cost (number) - Cost of daily prepayment.

## Customers Response(Customer Base)
+ id: `1` (number, required) - Customer ID
+ customer_labels (array[Customer label]) - Array of customer labels

## Customer Id (object)
+ id: `1` (number, required) - Customer ID

## Customer info Response (object)
+ id: `1` (number) - Customer ID
+ birthday (string) - Birthday
+ passport (string) - Passport number
+ company_id (string) - Company ID
+ contact_person (string) - Contact person
+ vat_id (string) - VAT ID
+ updated_at (string) - Last update date

## Customer cap Response (object)
+ customer_id: `1` (number) - Customer ID
+ auto_cap: `0` (string) - Auto cap. Default value: '0'
+ `limitation_type`: `auto_top_up` (string) - Limitation type: "auto\_top\_up", "manual\_top\_up", "any\_top\_up". Default value: "auto\_top\_up"
+ max_cap_during_month: `10` (number) - Max cap during per month. Default value: '0'
+ transfer_usage_to_new_service: `1` (string) - Transfer usage to new service. Default value: '1'
+ deleted: `0` (string) - Deleted record. Default value: '0'

## Customer comment Base (object)
+ customer_id: `1` (number, required) - Customer ID
+ datetime: `0000-00-00 00:00:00` (string) - Customer comment created datetime
+ administrator_id: `1` (number) - Administrator ID
+ type: `comment` (string) - Type: 'comment', 'customer', 'finance', 'service', 'message', 'support', 'call'. Default: 'comment'
+ pinned_date: `0000-00-00 00:00:00` (string) - Pinned date time
+ class: `info` (string) - Class: 'default', 'primary', 'success', 'warning', 'danger', 'info'.
+ title: `title` (string) - Title
+ name: `name` (string) - Name
+ comment: `comment` (string, required) - Comment
+ values: `values` (string) - Values
+ scheduled_send_time: `0000-00-00 00:00:00` (string) - Scheduled date time
+ assigned_to: `1` (number) - Admin ID to be assigned a customer comment
+ is_done: 1 (string) - Is done. Default value: '0'
+ is_send: 1 (string) - Is send. Default value: '0'
+ is_pinned: 1 (string) - Is pinned. Default value: '0'

## Customer comments Response(Customer comment Base)
+ id: `1` (number, required) - Customer comment ID
+ is_edited: `0` (string) - Is edited. Default value: '0'

## Customer comment Id (object)
+ id: `1` (number, required) - Customer comment ID

## Customer comment Response (object)
+ id: `1` (number) - Customer comment ID
+ customer_id: `1` (number, required) - Customer ID
+ datetime: `0000-00-00 00:00:00` (string) - Customer comment created datetime
+ administrator_id: `1` (number) - Administrator ID
+ type: `comment` (string) - Type: 'comment', 'customer', 'finance', 'service', 'message', 'support', 'call'. Default: 'comment'
+ class: `info` (string) - Class: 'default', 'primary', 'success', 'warning', 'danger', 'info'.
+ title: `title` (string) - Title
+ name: `name` (string) - Name
+ comment: `comment` (string, required) - Comment
+ values: `values` (string) - Values
+ scheduled_send_time: `0000-00-00 00:00:00` (string) - Scheduled date time
+ assigned_to: `1` (number) - Admin ID to be assigned a customer comment
+ is_done: `0` (string) - Is done. Default value: '0'
+ is_send: `0` (string) - Is send. Default value: '0'
+ is_edited: `0` (string) - Is edited. Default value: '0'
+ is_pinned: `0` (string) - Is pinned. Default value: '0'

## Customer Response(object)
+ login: `john_doe` (string) - Login
+ status: `new` (string) - Status: 'new', 'active', 'blocked', 'disabled'. Default value: 'new'
+ partner_id: `1` (number, required) - Partner id. You can get it at page "Administration / Partners"
+ location_id: `1` (number, required) - Location id. You can get it at page "Administration / Locations"
+ password: `marla_my_love` (string) - Password
+ name: `John Doe` (string, required) - Full name
+ email: `john.doe@domain.com` (string) - Email
+ billing_email: `john.doe.billing@domain.com` (string) - Billing email
+ phone: `555-0134` (string) - Phone number
+ category: `person` (string, required) - Category: 'person' (for private person) or 'company' (for company). Default value: 'person'
+ street_1: `Paper Street` (string) - Address part #1
+ zip_code (string) - Zip
+ city (string) - City
+ date_add (string) - Date of adding. Format: 'YYYY-MM-DD'. Default value: current date
+ gps (string) - Geo data customer. Format: '49.9902794,36.2303893'.
+ mrr_total (number) - Mrr total. Default value: 0.0000.
+ billing_type (string) - Billing type.
+ added_by (string) - "admin".
+ added_by_id (number) - Id of the administrator who added the custom.
+ last_online (string) - Date last online customer.
+ last_update (string) - Last date update customer.
+ daily_prepaid_cost (number) - Daily prepaid cost.
+ customer_labels (array[Customer label]) - Array of customer labels.
+ subdivision_id: `1` (number) - State/province ID
+ conversion_date (string) - Date conversion customer.
+ daily_prepaid_cost (number) - Cost of daily prepayment.

## Customer Documents Response (object)
+ id: `1` (number)
+ added_by: `api` (string)
+ added_by_id: `1` (number)
+ customer_id: `1` (number, required)
+ type: `uploaded` (string, required)
+ title: `customer document title` (string ,required)
+ created_at: `2017-01-01 16:05:28` (string)
+ updated_at: `2017-01-02 12:12:43` (string)
+ description: `document description` (string) - Document description
+ visible_by_customer: `0` (string) - Visibility on customer portal
+ filename_original: `SOME FILE NAME` (string) - Original document name
+ filename_uploaded: `SOME FILE NAME` (string) - Uploaded document name
+ code: `file code` (string) - Document's code
+ sign_date: `2017-01-01 16:05:28` (string) - Signature date
+ terms_month: `1` (string) - Term (month)
+ end_of_term: `2017-02-01` (string) - End of term
+ sign_contract: `1` (string) - Sign contract
+ terms: `false` (boolean) - This contract has a term
+ download_link: `https://yourdomain/a` (string) - A directly link to this document
+ has_thumbnail: `true` (boolean) - Whether this file has a thumbnail.
+ thumbnail_link: `https://yourdomain/b` (string) - A link to the document's thumbnail. The field is returned when has_thumbnail = true

## Customer Documents ID (object)
+ id: `1` (number) - Customer Documents ID

## Customer Documents Request (object)
+ customer_id: `1` (number, required)
+ type: `uploaded` (string, required)
+ title: `customer document title` (string ,required)
+ description: `document description` (string)
+ visible_by_customer: `0` (string) - Visibility on customer portal

## Customer Statistics (object)
+ id: `1` (number) - ID
+ customer_id: `1` (number) - Customer ID
+ service_id: `1` (string) - Service ID
+ tariff_id: `1` (string) - Tariff ID
+ partner_id: `1` (string) - Partner ID
+ nas_id: `1` (string) - NAS ID
+ login (string) - Login
+ in_bytes: `0` (string) - Download
+ out_bytes: `0` (string) - Upload
+ start_date: `0000-00-00` (string) - Start date
+ start_time: `00:00:00` (string) - Start time
+ end_date: `1970-01-01` (string) - End date
+ end_time: `01:00:00` (string) - End time
+ ipv4: `0.0.0.0` (string) - IPv4
+ ipv6 (string) - IPv6
+ mac (string) - MAC address
+ call_to (string) - Call to
+ port (string) - Port
+ error: `0` (string) - Error
[...]
